In [1]:
import pandas as pd
import numpy as np
import random

import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:,.2f}'.format

from IPython.core import display as ICD

from sklearn import datasets

# Import data

In [2]:
import sklearn.datasets

data = sklearn.datasets.fetch_california_housing(return_X_y=False, as_frame=True)
df = data["frame"]

def random_date(start, end, random_amount):
    delta = (end - start).days
    return [start + timedelta(days=random.randrange(delta)) for i in range(random_amount)]

d1 = datetime.strptime('2022-01-01', '%Y-%m-%d')
d2 = datetime.strptime('2022-03-31', '%Y-%m-%d')

df['datetime'] = random_date(d1,d2,df.shape[0])
df['date'] = df['datetime'].apply(lambda x: x.date())
df = df.reindex(columns= ['datetime', 'date'] + list(df.columns[:-2]))
df['direction'] = df['Latitude'].apply(lambda x: 'North' if x >= 36 else 'South')
df['is_expensive'] = df['MedHouseVal'].apply(lambda x: True if x >= 2.5 else False)
df.head()

,datetime,date,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,direction,is_expensive
0,2022-03-03,2022-03-03,8.33,41.00,6.98,1.02,322.00,2.56,37.88,-122.23,4.53,North,True
1,2022-02-18,2022-02-18,8.30,21.00,6.24,0.97,"2,401.00",2.11,37.86,-122.22,3.58,North,True
2,2022-03-09,2022-03-09,7.26,52.00,8.29,1.07,496.00,2.80,37.85,-122.24,3.52,North,True
3,2022-01-08,2022-01-08,5.64,52.00,5.82,1.07,558.00,2.55,37.85,-122.25,3.41,North,True
4,2022-02-14,2022-02-14,3.85,52.00,6.28,1.08,565.00,2.18,37.85,-122.25,3.42,North,True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datetime      20640 non-null  datetime64[ns]
 1   date          20640 non-null  object
 2   MedInc        20640 non-null  float64
 3   HouseAge      20640 non-null  float64
 4   AveRooms      20640 non-null  float64
 5   AveBedrms     20640 non-null  float64
 6   Population    20640 non-null  float64
 7   AveOccup      20640 non-null  float64
 8   Latitude      20640 non-null  float64
 9   Longitude     20640 non-null  float64
 10  MedHouseVal   20640 non-null  float64
 11  direction     20640 non-null  object
 12  is_expensive  20640 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(9), object(2)
memory usage: 1.9+ MB

# Pandas_profiling
- https://pypi.org/project/pandas-profiling/

In [3]:
from pandas_profiling import ProfileReport
# create profile report
profile = ProfileReport(df, title="Pandas Profiling Report")
# save report
profile.to_file("pandas_profiling.html")
# show on jupyter lab
profile.to_widgets()

Describe
- Show duplicate row from iris dataset example

# SweetViz
- https://pypi.org/project/sweetviz/

In [5]:
import sweetviz as sv
analyze_report = sv.analyze(df)
analyze_report.show_html('report.html', open_browser=True)
# analyze_report.show_notebook()

In [4]:
analyze_report_2 = sv.compare_intra(df, df["direction"] == "North", ["North", "South"])
analyze_report_2.show_html('report_2.html', open_browser=True)

# AutoViz
- https://github.com/AutoViML/AutoViz

In [7]:
# from autoviz.AutoViz_Class import AutoViz_Class
# AV = AutoViz_Class()
# df_av = AV.AutoViz(filename=""
#                    , dfte=df
#                    # , depVar='label'
#                    # , verbose=0
#                    # , chart_format="html"
#                    # , save_plot_dir='autoviz.html'
#                       )

In [6]:
from autoviz.AutoViz_Class import AutoViz_Class
AV = AutoViz_Class()
df_av = AV.AutoViz(filename=""
                    , dfte=df
                      )

In [1]:
from autoviz.AutoViz_Class import AutoViz_Class
AV = AutoViz_Class()
df_av = AV.AutoViz(filename=""
                   , dfte=df
                   , chart_format='bokeh'
                      )

# Dtale
- https://pypi.org/project/dtale/

In [2]:
import dtale
d = dtale.show(df)
d.open_browser() # <-- To show in new browser (Suggested)
# dtale.show(df) <-- This for showing in jupyter