In [1]:
import pandas as pd
import numpy as np
import random

import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:,.2f}'.format

from IPython.core import display as ICD

from sklearn import datasets

# Import data

In [2]:
import sklearn.datasets

data = sklearn.datasets.fetch_california_housing(return_X_y=False, as_frame=True)
df = data["frame"]

def random_date(start, end, random_amount):
    delta = (end - start).days
    return [start + timedelta(days=random.randrange(delta)) for i in range(random_amount)]

d1 = datetime.strptime('2022-01-01', '%Y-%m-%d')
d2 = datetime.strptime('2022-03-31', '%Y-%m-%d')

df['datetime'] = random_date(d1,d2,df.shape[0])
df['date'] = df['datetime'].apply(lambda x: x.date())
df = df.reindex(columns= ['datetime', 'date'] + list(df.columns[:-2]))
df['direction'] = df['Latitude'].apply(lambda x: 'North' if x >= 36 else 'South')
df['is_expensive'] = df['MedHouseVal'].apply(lambda x: True if x >= 2.5 else False)
print(df.shape)
df.head()

(20640, 13)

,datetime,date,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,direction,is_expensive
0,2022-01-30,2022-01-30,8.33,41.00,6.98,1.02,322.00,2.56,37.88,-122.23,4.53,North,True
1,2022-01-29,2022-01-29,8.30,21.00,6.24,0.97,"2,401.00",2.11,37.86,-122.22,3.58,North,True
2,2022-03-26,2022-03-26,7.26,52.00,8.29,1.07,496.00,2.80,37.85,-122.24,3.52,North,True
3,2022-02-23,2022-02-23,5.64,52.00,5.82,1.07,558.00,2.55,37.85,-122.25,3.41,North,True
4,2022-03-11,2022-03-11,3.85,52.00,6.28,1.08,565.00,2.18,37.85,-122.25,3.42,North,True

# PivotTable.js
- https://github.com/nicolaskruchten/pivottable

In [2]:
from pivottablejs import pivot_ui

pivot_ui(df,outfile_path='pivottablejs.html')

# PandasGUI
- https://pypi.org/project/pandasgui/

In [1]:
from pandasgui import show

show(df)